Repository AtlassianPS/JiraPS, pull requests merged in 2018-12, with the labels that each got.

#316 Feature/issue-315 - SkipNotification param for Set-JiraIssue
  JiraPS/Public/Set-JiraIssue.ps1
  Tests/Functions/Set-JiraIssue.Unit.Tests.ps1
  docs/en-US/about_JiraPS_UpdatingIssues.md
  docs/en-US/commands/Set-JiraIssue.md
Labels: Area:Module, Issue:Enhancement, Status:In Review

#321 Added group membership when querying the current user
  JiraPS/Public/Get-JiraUser.ps1
  Tests/Functions/Get-JiraUser.Unit.Tests.ps1
Labels: Area:Module, Issue:Enhancement, Status:In Review

#322 Added documentation for authenticating with PAT
  docs/en-US/about_JiraPS_Authentication.md
Labels: Area:Documentation, Issue:Enhancement, Status:In Review

#325 Fixed DateTime format
  JiraPS/Public/Add-JiraIssueWorklog.ps1
  Tests/Functions/Add-JiraIssueWorklog.Unit.Tests.ps1
Labels: Area:Module, Issue:Bug, Status:In Review
