Repository AtlassianPS/JiraPS, pull requests merged in 2018-05, with the labels that each got.

#241 Updated file encoding
  docs/en-US/about_JiraPS_UpdatingIssues.md
Labels: Area:Documentation, Issue:Bug, Status:In Review

#244 Fixed the process to add and remove labels from issue
  JiraPS/Public/Set-JiraIssueLabel.ps1
Labels: Area:Module, Issue:Bug, Status:In Review

#245 Fix icon for CI
  README.md
Labels: Area:Repository, Issue:Bug, Status:In Review

#250 Update Add-JiraGroupMember.ps1
  JiraPS/Public/Add-JiraGroupMember.ps1
Labels: Status:In Review

#252 Enhance Build script
  JiraPS.build.ps1
  Tests/JiraPS.Tests.ps1
  Tools/build.psm1
  Tools/build.requirements.psd1
  Tools/setup.ps1
  appveyor.yml
Labels: Area:CI, Issue:Enhancement, Status:In Review

#255 Fix/#150 casting to field
  JiraPS/Public/Invoke-JiraIssueTransition.ps1
  JiraPS/Public/New-JiraIssue.ps1
  JiraPS/Public/Set-JiraIssue.ps1
  Tests/JiraPS.Help.Tests.ps1
  docs/en-US/commands/Invoke-JiraIssueTransition.md
  docs/en-US/commands/New-JiraIssue.md
  docs/en-US/commands/Set-JiraIssue.md
Labels: Area:Module, Issue:Enhancement, Status:In Review

#257 Reduced the console output in the CI
  JiraPS.build.ps1
Labels: Area:CI, Issue:Enhancement, Status:In Review

#263 Added parameter alias
  JiraPS/Public/Get-JiraIssue.ps1
  docs/en-US/about_JiraPS.md
Labels: Area:Module, Issue:Bug, Status:In Review

#267 Enhance credential handling
  JiraPS/Private/Resolve-JiraIssueObject.ps1
  JiraPS/Public/Add-JiraGroupMember.ps1
  JiraPS/Public/Add-JiraIssueAttachment.ps1
  JiraPS/Public/Add-JiraIssueComment.ps1
  JiraPS/Public/Add-JiraIssueLink.ps1
  JiraPS/Public/Add-JiraIssueWatcher.ps1
  JiraPS/Public/Add-JiraIssueWorklog.ps1
  JiraPS/Public/Get-JiraComponent.ps1
  JiraPS/Public/Get-JiraField.ps1
  JiraPS/Public/Get-JiraFilter.ps1
  JiraPS/Public/Get-JiraGroup.ps1
  JiraPS/Public/Get-JiraGroupMember.ps1
  JiraPS/Public/Get-JiraIssue.ps1
  JiraPS/Public/Get-JiraIssueAttachment.ps1
  JiraPS/Public/Get-JiraIssueComment.ps1
  JiraPS/Public/Get-JiraIssueCreateMetadata.ps1
  JiraPS/Public/Get-JiraIssueEditMetadata.ps1
  JiraPS/Public/Get-JiraIssueLink.ps1
  JiraPS/Public/Get-JiraIssueLinkType.ps1
  JiraPS/Public/Get-JiraIssueType.ps1
  JiraPS/Public/Get-JiraIssueWatcher.ps1
  JiraPS/Public/Get-JiraPriority.ps1
  JiraPS/Public/Get-JiraProject.ps1
  JiraPS/Public/Get-JiraRemoteLink.ps1
  JiraPS/Public/Get-JiraServerInformation.ps1
  JiraPS/Public/Get-JiraUser.ps1
  JiraPS/Public/Get-JiraVersion.ps1
  JiraPS/Public/Invoke-JiraIssueTransition.ps1
  JiraPS/Public/Invoke-JiraMethod.ps1
  JiraPS/Public/New-JiraGroup.ps1
  JiraPS/Public/New-JiraIssue.ps1
  JiraPS/Public/New-JiraSession.ps1
  JiraPS/Public/New-JiraUser.ps1
  JiraPS/Public/New-JiraVersion.ps1
  JiraPS/Public/Remove-JiraGroup.ps1
  JiraPS/Public/Remove-JiraGroupMember.ps1
  JiraPS/Public/Remove-JiraIssueAttachment.ps1
  JiraPS/Public/Remove-JiraIssueLink.ps1
  JiraPS/Public/Remove-JiraIssueWatcher.ps1
  JiraPS/Public/Remove-JiraRemoteLink.ps1
  JiraPS/Public/Remove-JiraUser.ps1
  JiraPS/Public/Remove-JiraVersion.ps1
  JiraPS/Public/Set-JiraIssue.ps1
  JiraPS/Public/Set-JiraIssueLabel.ps1
  JiraPS/Public/Set-JiraUser.ps1
  JiraPS/Public/Set-JiraVersion.ps1
  Tests/Get-JiraPriority.Tests.ps1
  Tests/New-JiraIssue.Tests.ps1
  Tests/Remove-JiraIssueAttachment.Tests.ps1
  docs/en-US/about_JiraPS.md
Labels: Area:Module, Issue:Enhancement, Status:In Review

#270 Enhance credential handling (again)
  JiraPS/Public/Get-JiraIssue.ps1
  docs/en-US/about_JiraPS.md
Labels: Area:Module, Issue:Enhancement, Status:In Review

#266 Feature: Improve Filter functions
  JiraPS/Public/Get-JiraFilter.ps1
  JiraPS/Public/New-JiraFilter.ps1
  JiraPS/Public/Remove-JiraFilter.ps1
  JiraPS/Public/Set-JiraFilter.ps1
  Tests/Get-JiraFilter.Tests.ps1
  Tests/Get-JiraPriority.Tests.ps1
  Tests/JiraPS.Help.Tests.ps1
  Tests/New-JiraFilter.Tests.ps1
  Tests/New-JiraIssue.Tests.ps1
  Tests/Remove-JiraFilter.Tests.ps1
  Tests/Remove-JiraIssueAttachment.Tests.ps1
  Tests/Set-JiraFilter.Tests.ps1
  docs/en-US/commands/Get-JiraFilter.md
  docs/en-US/commands/Get-JiraVersion.md
  docs/en-US/commands/New-JiraFilter.md
  docs/en-US/commands/Remove-JiraFilter.md
  docs/en-US/commands/Set-JiraFilter.md
Labels: Area:Module, Issue:Enhancement, Status:In Review

#259 Fixed deployment of hompage update
  JiraPS.build.ps1
Labels: Area:CI, Area:Repository, Issue:Enhancement, Status:In Review

#268 automated publishing of posts
  .editorconfig
  .gitattributes
  _posts/2017-06-24-JiraPS-v2.0.md
  _posts/2017-06-25-JiraPS-v2.1.md
  _posts/2017-08-05-JiraPS-v2.2.md
  _posts/2017-10-07-JiraPS-v2.3.md
  _posts/2017-12-05-JiraPS-v2.4.md
  _posts/2018-03-22-JiraPS-v2.5.md
  _posts/2018-05-04-JiraPS-v2.6.md
  _posts/2018-05-13-JiraPS-v2.7.md
Labels: Area:Documentation, Issue:Enhancement, Status:In Review

#273 Fix compatibility with PS v3
  JiraPS/JiraPS.psm1
  JiraPS/Private/Invoke-WebRequest.ps1
  JiraPS/Private/Resolve-JiraError.ps1
  JiraPS/Private/Resolve-JiraIssueObject.ps1
  JiraPS/Public/Add-JiraIssueAttachment.ps1
  JiraPS/Public/Add-JiraIssueComment.ps1
  JiraPS/Public/Add-JiraIssueLink.ps1
  JiraPS/Public/Add-JiraIssueWatcher.ps1
  JiraPS/Public/Add-JiraIssueWorklog.ps1
  JiraPS/Public/Get-JiraComponent.ps1
  JiraPS/Public/Get-JiraConfigServer.ps1
  JiraPS/Public/Get-JiraFilter.ps1
  JiraPS/Public/Get-JiraGroupMember.ps1
  JiraPS/Public/Get-JiraIssue.ps1
  JiraPS/Public/Get-JiraIssueAttachment.ps1
  JiraPS/Public/Get-JiraIssueComment.ps1
  JiraPS/Public/Get-JiraIssueCreateMetadata.ps1
  JiraPS/Public/Get-JiraIssueEditMetadata.ps1
  JiraPS/Public/Get-JiraIssueLink.ps1
  JiraPS/Public/Get-JiraIssueLinkType.ps1
  JiraPS/Public/Get-JiraIssueWatcher.ps1
  JiraPS/Public/Get-JiraRemoteLink.ps1
  JiraPS/Public/Invoke-JiraIssueTransition.ps1
  JiraPS/Public/Invoke-JiraMethod.ps1
  JiraPS/Public/New-JiraIssue.ps1
  JiraPS/Public/New-JiraVersion.ps1
  JiraPS/Public/Remove-JiraGroup.ps1
  JiraPS/Public/Remove-JiraGroupMember.ps1
  JiraPS/Public/Remove-JiraIssueAttachment.ps1
  JiraPS/Public/Remove-JiraIssueLink.ps1
  JiraPS/Public/Remove-JiraIssueWatcher.ps1
  JiraPS/Public/Remove-JiraRemoteLink.ps1
  JiraPS/Public/Remove-JiraUser.ps1
  JiraPS/Public/Remove-JiraVersion.ps1
  JiraPS/Public/Set-JiraConfigServer.ps1
  JiraPS/Public/Set-JiraIssue.ps1
  JiraPS/Public/Set-JiraIssueLabel.ps1
  JiraPS/Public/Set-JiraUser.ps1
  JiraPS/Public/Set-JiraVersion.ps1
  Tests/Get-JiraServerInformation.Tests.ps1
  Tests/JiraPS.Tests.ps1
Labels: Area:Module, Issue:Bug, Status:In Review

#272 Added parameter to influence max# of users to search
  JiraPS/Public/Get-JiraUser.ps1
  Tests/Get-JiraUser.Tests.ps1
  docs/en-US/commands/Get-JiraUser.md
Labels: Area:Module, Issue:Enhancement, Status:In Review
