Repository AtlassianPS/JiraPS, pull requests merged in 2019-02, with the labels that each got.

#337 Fix usage of New-JiraIssue in Jira Environment with mixed classic and "next gen" projects
  JiraPS/Private/ConvertTo-JiraProject.ps1
  JiraPS/Public/Get-JiraIssueCreateMetadata.ps1
  JiraPS/Public/New-JiraIssue.ps1
  Tests/Functions/Get-JiraIssueCreateMetadata.Unit.Tests.ps1
  Tests/Functions/New-JiraIssue.Unit.Tests.ps1
Labels: Area:Module, Issue:Enhancement, Status:In Review

#333 Get-JiraIssueAttachmentFile: Set Accept header based on Mime time of attachment
  JiraPS/Public/Get-JiraIssueAttachmentFile.ps1
Labels: Area:Module, Issue:Enhancement, Status:In Review

#339 Fix incorrect handling of skip notifications
  JiraPS/Public/Set-JiraIssue.ps1
Labels: Area:Module, Issue:Bug, Status:In Review

#340 Release v2.10
  CHANGELOG.md
  JiraPS/JiraPS.psd1
  JiraPS/Private/ConvertTo-JiraProject.ps1
  JiraPS/Public/Get-JiraComponent.ps1
  JiraPS/Public/Get-JiraIssueAttachmentFile.ps1
  JiraPS/Public/Get-JiraIssueCreateMetadata.ps1
  JiraPS/Public/Get-JiraUser.ps1
  JiraPS/Public/New-JiraIssue.ps1
  JiraPS/Public/Set-JiraIssue.ps1
  Tests/Functions/Get-JiraIssueAttachmentFile.Unit.Tests.ps1
  Tests/Functions/Get-JiraIssueCreateMetadata.Unit.Tests.ps1
  Tests/Functions/Get-JiraUser.Unit.Tests.ps1
  Tests/Functions/New-JiraIssue.Unit.Tests.ps1
  _posts/2017-06-24-JiraPS-v2.0.md
  _posts/2017-06-25-JiraPS-v2.1.md
  _posts/2017-08-05-JiraPS-v2.2.md
  _posts/2017-10-07-JiraPS-v2.3.md
  _posts/2017-12-05-JiraPS-v2.4.md
  _posts/2018-03-22-JiraPS-v2.5.md
  _posts/2018-05-04-JiraPS-v2.6.md
  _posts/2018-05-13-JiraPS-v2.7.md
  _posts/2018-06-28-JiraPS-v2.8.md
  docs/en-US/commands/Get-JiraUser.md
Labels: Release, Status:In Review
