Repository AtlassianPS/JiraPS, pull requests merged in 2019-01, with the labels that each got.

#328 fixes 320 - assignment when similar users exist
  CHANGELOG.md
  JiraPS/Public/Get-JiraUser.ps1
  JiraPS/Public/Set-JiraIssue.ps1
  Tests/Functions/Get-JiraUser.Unit.Tests.ps1
  docs/en-US/commands/Get-JiraUser.md
Labels: Area:Module, Issue:Enhancement, Status:In Review

#331 Removed debug messages from test file
  Tests/Functions/Get-JiraIssueAttachmentFile.Unit.Tests.ps1
Labels: Area:Test, Issue:Bug, Status:In Review

#330 Fixed logic of how to retrieve components from project
  JiraPS/Public/Get-JiraComponent.ps1
Labels: Area:Module, Issue:Bug, Status:In Review
